<div class="heading">
  <h1 class="text-2xl font-medium">Uploaded recipes</h1>
  <span class="text-gray-500">Recipes that are uploaded from the app</span>
</div>
<div class="table-container">
  <table class="table w-full">
    <thead>
      <tr>
        <th>Title</th>
        <th>Created by</th>
        <th>Created at</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (recipe of recipes(); track recipe.id) {
        <tr
          routerLink="/activities/recipes/{{ recipe.id }}"
          class="cursor-pointer"
        >
          <td>{{ recipe.title }}</td>
          <td>UNKNOWN</td>
          <td class="text-nowrap">{{ recipe.createdAt | date }}</td>
          <td></td>
        </tr>
      }
    </tbody>
  </table>
</div>
