<label>
  <p><ng-content /></p>
  <div
    class="flex rounded border border-gray-400 px-1.5 py-0.5 outline-0 transition-colors invalid:border-danger-600 focus-within:border-primary-600 disabled:bg-gray-200 dark:border-dark-700 dark:bg-white dark:bg-opacity-10"
    [class.bg-white]="forceDark()"
    [class.bg-opacity-10]="forceDark()"
    [class.border-dark-700]="forceDark()"
  >
    <div class="grow">
      <input
        ngDefaultControl
        [type]="type"
        [placeholder]="placeholder"
        [disabled]="disabled"
        class="w-full bg-transparent outline-none placeholder:text-sm"
      />
    </div>
    @if (iconSuffix) {
      <div class="px-2">
        <fa-icon [icon]="iconSuffix"></fa-icon>
      </div>
    }
  </div>
</label>
