@if (recipe(); as recipe) {
  <div class="flex">
    <div class="w-1/3">
      <img [src]="recipe.coverImageUrl" alt="" />
    </div>
    <div class="w-2/3 p-8 pt-0">
      <h1 class="text-3xl font-bold">{{ recipe.title }}</h1>
      <p class="text-gray-600">{{ recipe.description }}</p>
    </div>
  </div>

  <div class="mt-8">
    <div class="mb-1 flex gap-2">
      <h2 class="grow text-2xl font-bold">Ingredients</h2>
      <app-button size="small" (click)="openManageIngredientDialog(recipe.id)"
        >Add ingredient</app-button
      >
    </div>
    <div class="table-container">
      <div class="ingredients">
        <div class="t-row ingredient">
          <div class="name">Ingredient</div>
          <div class="amount min-w-20 flex-shrink">Amount</div>
          <div class="min-w-28 flex-shrink"></div>
        </div>
        @for (ingredient of ingredients(); track ingredient) {
          <div class="t-row flex items-center">
            <div class="name">{{ ingredient.ingredientId }}</div>
            <div class="amount min-w-20 flex-shrink">
              {{ ingredient.amount }}{{ ingredient.measurement }}
            </div>
            <div class="flex min-w-28 flex-shrink gap-1">
              <app-button type="icon" size="small"
                ><fa-icon [icon]="faPencil"
              /></app-button>
              <app-button type="icon" size="small" color="danger"
                ><fa-icon [icon]="faTrash"
              /></app-button>
            </div>
          </div>
        }
      </div>
    </div>
  </div>

  <div class="mt-8">
    <div class="mb-1 flex gap-2">
      <h2 class="grow text-2xl font-bold">Steps</h2>
      <app-button size="small" (click)="openManageStepDialog(recipe.id)"
        >Add Step</app-button
      >
    </div>
    <div class="table-container">
      <div
        class="ingredients"
        cdkDropList
        (cdkDropListDropped)="stepsDrop($event)"
      >
        <div class="t-row ingredient">
          <div class="step min-w-20 flex-shrink">Step</div>
          <div class="description">Description</div>
          <div class="min-w-28 flex-shrink"></div>
        </div>
        @for (step of steps(); track step.id) {
          <div class="t-row flex items-center" cdkDrag>
            <div class="step min-w-20 flex-shrink">{{ step.stepNumber }}</div>
            <div class="description">{{ step.description }}</div>
            <div class="flex min-w-28 flex-shrink gap-1">
              <app-button
                type="icon"
                size="small"
                (click)="openManageStepDialog(recipe.id, step.id)"
                ><fa-icon [icon]="faPencil"
              /></app-button>
              <app-button
                type="icon"
                size="small"
                color="danger"
                (click)="deleteStep(step.id)"
                ><fa-icon [icon]="faTrash"
              /></app-button>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
}
