<app-header />
<ion-content>
  <div class="image">
    <img src="images/food-plate.png" alt="test" />
  </div>
  <div class="content p-4">
    @let recipeVal = recipe();
    <div class="heading">
      <div class="title">
        <h2>{{ recipeVal?.title }}</h2>
        <span class="cals">{{ recipeVal?.calories }}cal</span>
      </div>
      <div class="like">
        <!-- <ion-button
          shape="round"
          fill="clear"
          color="danger"
          (click)="toggleLike(1, false)"
        > -->
        <!-- <ion-icon
            slot="icon-only"
            [name]="false ? 'heart' : 'heart-outline'"
          ></ion-icon> -->
        <!-- </ion-button> -->
      </div>
    </div>
    <div class="ingredients">
      <h3>Ingredients</h3>
      <div class="people-amount">
        <app-button size="small" (click)="decrementPeople()">
          <fa-icon [icon]="faMinus" />
        </app-button>
        <div class="amount-counter">{{ peopleCounter() }}</div>
        <app-button size="small" (click)="incrementPeople()">
          <fa-icon [icon]="faAdd" />
        </app-button>
      </div>
      <div class="ingredients-list">
        @for (ingredient of recipeVal?.ingredients; track ingredient.id) {
          <app-form-checkbox></app-form-checkbox>
          <span class="amount"
            >{{ ingredient.amount * ingredientAmount() }}
            {{ ingredient.measurement }}</span
          >
          <span class="type">{{ ingredient.name }}</span>
        }
      </div>
    </div>
    <div class="info">
      @for (step of recipeVal?.steps; track step; let i = $index) {
        <div class="step">{{ step.stepNumber }}</div>
        <div class="text">{{ step.description }}</div>
      }
    </div>
  </div>
</ion-content>
