<label>
  <p><ng-content /></p>
  <div
    class="invalid:border-danger-600 flex rounded border px-1.5 py-1 outline-0 transition-colors focus-within:border-primary-600 disabled:bg-gray-200"
    #trigger
    cdk-overlay-origin
    #OverlayOrigin="cdkOverlayOrigin"
  >
    <div class="grow">
      <input
        #searchInput
        class="w-full bg-transparent outline-none"
        [placeholder]="placeholder()"
        [disabled]="disabled()"
        [value]="displayValue()"
        (blur)="searchBlur()"
        (focus)="open()"
      />
    </div>
    @if (iconSuffix()) {
      <div class="px-2 text-gray-500">
        <fa-icon [icon]="iconSuffix()!"></fa-icon>
      </div>
    }
  </div>
  <ng-template
    cdk-connected-overlay
    cdkConnectedOverlayLockPosition
    cdkConnectedOverlayHasBackdrop
    cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
    [cdkConnectedOverlayPanelClass]="'menu-container'"
    [cdkConnectedOverlayOrigin]="OverlayOrigin"
    [cdkConnectedOverlayOpen]="isOpen()"
    [cdkConnectedOverlayPositions]="positions"
    [cdkConnectedOverlayWidth]="overlayWidth()"
    (backdropClick)="close()"
    (detach)="close()"
  >
    <div
      class="flex max-h-64 w-full flex-col overflow-auto rounded border bg-white"
    >
      @for (option of data(); track i; let i = $index) {
        <div
          class="cursor-pointer px-1 py-2 hover:bg-gray-100 [&:not(:last-child)]:border-b"
          (click)="setValue(option)"
        >
          {{ displayFn()(option) }}
        </div>
      }
    </div>
  </ng-template>
</label>
