@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/palettes/dark.system.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@angular/cdk/overlay-prebuilt.css";

:root {
  --ion-background-color: theme("colors.gray.200");

  // --tw-bg-opacity: 1;
  // --background: rgb(18 18 18 / var(--tw-bg-opacity))

  @media (prefers-color-scheme: dark) {
    --ion-text-color: white;
    --ion-background-color: theme("colors.dark.900");
  }
}

@media (prefers-color-scheme: light) {
  ion-modal {
    --background: white;
    --ion-background-color: white;
  }
}
