<div
  class="background flex min-h-screen items-center justify-center bg-gray-50 text-white dark:bg-dark-900"
>
  <div class="w-500 p-5">
    <h1 class="mb-3 text-center text-4xl">Food swipe</h1>

    <h2 class="mb-10 text-center text-2xl">Forgot your password?</h2>

    <div class="rounded-xl bg-dark-900 p-10 shadow dark:bg-opacity-90">
      <form [formGroup]="form" (ngSubmit)="forgotPassword()">
        <div class="mb-4">
          <app-form-input
            formControlName="email"
            type="email"
            placeholder="example@gmail.com"
          >
            Email
          </app-form-input>
        </div>

        <app-button size="full" [disabled]="form.invalid">
          Send recovery code
        </app-button>
      </form>
    </div>

    <div class="mt-10 text-center">
      <span class="text-gray-500"> Don't have an account? </span>

      <a routerLink="/auth/register"> Sign up </a>
    </div>
  </div>
</div>
