<ion-content>
  <div class="flex h-full flex-col items-center justify-center p-4">
    <div class="mb-8 text-2xl font-bold">Add a new recipe book</div>
    <div class="mb-4 w-full">
      <app-form-input placeholder="Title" [(ngModel)]="title" />
    </div>
    <div class="w-2/3">
      <app-button
        color="primary"
        size="full"
        rounded
        [disabled]="!isValid()"
        (click)="addRecipeBook()"
      >
        <fa-icon [icon]="faPlus" /> Add
      </app-button>
    </div>
  </div>
</ion-content>
