<div
  class="background flex min-h-screen items-center justify-center bg-gray-50 text-white dark:bg-dark-900"
>
  <div class="w-500 p-5">
    <h1 class="mb-3 text-center text-4xl">Food swipe</h1>

    <h2 class="mb-10 text-center text-2xl">Sign up for a account</h2>

    <div
      class="rounded-xl p-10 shadow backdrop-blur-xl dark:bg-dark-900 dark:bg-opacity-50"
    >
      <form [formGroup]="form" (ngSubmit)="register()">
        <div class="mb-4">
          <app-form-input
            formControlName="email"
            type="email"
            placeholder="exaple@gmail.com"
            forceDark
          >
            Email
          </app-form-input>
        </div>

        <div class="mb-4">
          <app-form-input
            formControlName="username"
            type="text"
            placeholder="example"
            forceDark
          >
            Username
          </app-form-input>
        </div>

        <div class="mb-4 flex gap-5">
          <div>
            <app-form-input
              formControlName="firstName"
              placeholder="first"
              forceDark
              >First name</app-form-input
            >
          </div>

          <div>
            <app-form-input
              formControlName="lastName"
              placeholder="last"
              forceDark
              >Last name</app-form-input
            >
          </div>
        </div>

        <div class="mb-4">
          <app-form-input
            formControlName="password"
            type="password"
            placeholder="Password"
            forceDark
          >
            Password
          </app-form-input>
        </div>

        <div class="mb-3">
          <app-form-input
            formControlName="passwordConfirmation"
            type="password"
            placeholder="Password confirmation"
            forceDark
          >
            Password confirmation
          </app-form-input>
        </div>

        <div class="mb-4 flex justify-end">
          <a routerLink="/auth/forgot-password"> Forgot password? </a>
        </div>

        <app-button size="full" [disabled]="form.invalid"> Sign up </app-button>
      </form>
    </div>

    <div class="mt-10 text-center">
      <span class="text-gray-500"> Already have an account? </span>

      <a routerLink="/auth/login"> Sign in </a>
    </div>
  </div>
</div>
