.dialog {
  display: grid;
  height: 100%;
  max-height: 100%;
  //grid-auto-flow: column;
  grid-template-rows: 40px 1fr 50px;
  @apply rounded bg-white p-4;

  .head {
    @apply text-2xl;
  }

  .body {
    overflow: auto;
  }
  .footer {
    display: flex;
    @apply gap-1;
    justify-content: flex-end;
    align-items: center;
  }
}

.default-dialog {
  @apply rounded bg-white;
  //overflow: auto;
}
