.primary {
  @apply bg-primary-600;

  //&:hover:not([disabled]) {
  //  @apply bg-primary-700;
  //}
  //&:active:not([disabled]) {
  //  @apply bg-primary-700;
  //}
  &:disabled {
    @apply opacity-50;
  }
}
.secondary {
  @apply bg-secondary-600;

  &:hover:not([disabled]) {
    @apply bg-secondary-700;
  }
  &:active:not([disabled]) {
    @apply bg-secondary-700;
  }
  &:disabled {
    @apply opacity-50;
  }
}

.default {
  @apply bg-gray-200 text-black;

  &:hover {
    @apply bg-gray-300;
  }
  &:active {
    @apply bg-gray-300;
  }
  &:disabled {
    @apply bg-gray-100;
  }
}
.btn-small:not(.icon-only) {
  @apply text-sm py-1 px-3;
}
.icon-only {
  @apply flex items-center justify-center;
  width: 40px;
  height: 40px;
}

.icon-only.btn-large {
  width: 50px;
  height: 50px;
}

.icon-only.btn-small {
  width: 30px;
  height: 30px;
}
