<button
  [class]="{
    primary: color() === 'primary',
    secondary: color() === 'secondary',
    default: color() === 'default',
    danger: color() === 'danger',
    'bg-transparent': color() === 'transparent',
    'w-full': type() === 'full',
    'btn-small': size() === 'small',
    'btn-large': size() === 'large',
    btn: size() === 'default',
    'rounded-full': rounded(),
    'icon-only': type() === 'icon',
    'text-white': color() !== 'transparent',
  }"
  class="ion-activatable icon-only relative select-none overflow-hidden rounded text-white outline-none transition-colors"
  [disabled]="disabled()"
>
  @if (icon()) {
    <fa-icon [icon]="icon()!" />
  }
  @if (!isMobile() || (mobileText() && isMobile())) {
    <ng-content />
  }
</button>
