
.table {

  tbody tr {
    @apply hover:bg-gray-100;
  }

  td, th {
    @apply px-4 py-2;
  }

  th {
    @apply text-left text-xs font-semibold;
  }

  td {
    @apply border-t;
  }
}

.table-container {
  @apply overflow-x-auto border border-gray-200 rounded-md;
}

.t-row {
  display: flex;

  div:not(.flex-shrink) {
    flex: 1;
  }

  div {
    @apply px-4 py-2;
  }

  &:first-child {
    @apply text-left text-xs font-semibold;
  }

  &:not(:first-child) {
    @apply border-t border-gray-200 hover:bg-gray-100;
  }
}
