.table {
  //@apply border rounded-md border-separate border-spacing-0;

  tbody tr {
    @apply hover:bg-gray-100;
  }

  td,
  th {
    @apply px-4 py-2;
  }

  th {
    @apply text-left text-xs font-semibold;
  }

  td {
    @apply border-t;
  }
}

.table-container {
  @apply overflow-x-auto rounded-md border;
}

.t-row {
  display: flex;

  div:not(.flex-shrink) {
    flex: 1;
  }

  div {
    @apply px-4 py-2;
  }

  &:first-child {
    @apply text-left text-xs font-semibold;
  }

  &:not(:first-child):not(.sortable-chosen) {
    @apply border-t hover:bg-gray-100;
  }
}
