<label class="inline-flex cursor-pointer items-center gap-2 dark:text-white">
  <input
    [(ngModel)]="value"
    [disabled]="disabled"
    [value]="radioValue"
    [name]="name"
    class="relative h-4 w-4 appearance-none rounded-full border border-gray-300 before:bg-white before:transition-colors checked:before:absolute checked:before:left-1/2 checked:before:top-1/2 checked:before:h-2 checked:before:w-2 checked:before:-translate-x-1/2 checked:before:-translate-y-1/2 checked:before:transform checked:before:rounded-full checked:before:bg-primary-600 focus:outline-none dark:border-dark-800"
    type="radio"
  />
  <ng-content />
</label>
