<ion-header class="ion-no-border">
  <ion-toolbar class="px-2">
    <div class="toolbar-item" slot="start">
      <ion-avatar>
        <img
          alt="Silhouette of a person's head"
          src="/assets/images/avatar.svg" />
      </ion-avatar>
    </div>
    <ion-title>Recipes</ion-title>
    <div class="toolbar-item" slot="end">
      <ion-icon name="notifications-outline"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    @for (recipe of recipes(); track recipe.id) {
      <div class="card mr-1 flex min-h-10 flex-col rounded">
        <div class="cover flex rounded">
          <img
            alt="A bowl of pasta with a fork"
            class="rounded-t"
            src="/assets/images/food-plate.png" />
        </div>
        <div class="body rounded-t p-3">
          <div class="title">{{recipe.name}}</div>
          <div class="text-xs text-gray-300">{{recipe.calories}}cal</div>
          <div class="flex justify-between">
            <ion-button size="small" (click)="viewRecipe(recipe.id)">
              <ion-icon name="eye" /> VIEW
            </ion-button>
            <span class="flex items-center justify-center text-gray-300">
              <ion-icon name="time-outline" /> {{recipe.prepTime}} mins
            </span>
          </div>
        </div>
      </div>
    }
  </div>
  <ion-infinite-scroll [disabled]="!cursor" (ionInfinite)="onIonInfinite()">
    <ion-infinite-scroll-content />
  </ion-infinite-scroll>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="createRecipe()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
