<div class="dialog">
  <div class="head">
    <h2>Create measurement</h2>
  </div>
  <div class="body">
    <form [formGroup]="form">
      <app-form-input formControlName="name">Measurement</app-form-input>
      <div class="mt-2">
        <app-form-input formControlName="abbreviation"
          >Abbreviation</app-form-input
        >
      </div>
    </form>
  </div>
  <div class="footer">
    <app-button color="default" (click)="dismiss()">Close</app-button>
    <app-button [disabled]="form.invalid" (click)="submit()">Submit</app-button>
  </div>
</div>
