<ion-tabs>
  <ion-tab-bar
    id="tab-bar"
    slot="bottom"
    class="border-t border-white border-opacity-5"
  >
    <ion-tab-button class="flex justify-center" tab="recipe-books">
      <fa-icon [icon]="faBook" size="xl" />
    </ion-tab-button>
    <ion-tab-button class="flex justify-center" tab="recipes">
      <fa-icon [icon]="faMagnifyingGlass" size="xl" />
    </ion-tab-button>
    <ion-tab-button class="flex justify-center" tab="account">
      <fa-icon [icon]="faPerson" size="xl" />
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
