<label>
  <p><ng-content /></p>
  <div
    class="invalid:border-danger-600 flex w-full rounded border px-1.5 py-1 transition-colors focus-within:border-primary-600 disabled:bg-gray-200"
  >
    <textarea
      [(ngModel)]="value"
      [placeholder]="placeholder()"
      [cdkTextareaAutosize]="autoSize()"
      [cdkAutosizeMinRows]="minRows()"
      [cdkAutosizeMaxRows]="maxRows()"
      [rows]="rows()"
      class="w-full outline-0"
      (blur)="blur.emit($event)"
      (focus)="focus.emit($event)"
    ></textarea>
  </div>
</label>
