<ion-content>
  <div #coverImage class="image">
    <img [src]="recipe().coverImageUrl" alt="test" />
  </div>
  <div class="bg-white p-4 dark:bg-dark-900">
    <div class="flex">
      <div class="title grow">
        <h2 class="text-2xl font-bold">{{ recipe().title }}</h2>
        <span class="cals text-gray-400"
          >{{ recipe().nutritions.energy?.value }}cal</span
        >
      </div>
      <div class="like">
        <app-button
          type="icon"
          rounded
          color="transparent"
          (click)="toggleLike()"
        >
          <fa-icon
            class="text-red-500"
            [icon]="liked() ? faHeart : faHeartOutline"
            size="xl"
          ></fa-icon>
        </app-button>
      </div>
    </div>
    <div class="mb-2">
      {{ recipe().description }}
    </div>
    <div class="ingredients mb-2">
      <h3 class="font-bold">Ingredients</h3>
      <div class="people-amount">
        <app-button size="small" (click)="decrementPeople()">
          <fa-icon [icon]="faMinus" />
        </app-button>
        <div class="amount-counter">{{ peopleCounter() }}</div>
        <app-button size="small" (click)="incrementPeople()">
          <fa-icon [icon]="faAdd" />
        </app-button>
      </div>
      <div class="ingredients-list">
        @for (ingredient of recipe().ingredients; track ingredient.id) {
          <app-form-checkbox></app-form-checkbox>
          <span class="amount"
            >{{ ingredient.amount * ingredientAmount() | number: "1.0-0" }}
            {{ ingredient.measurement }}</span
          >
          <span class="type">{{ ingredient.name }}</span>
        }
      </div>
    </div>
    <div class="mb-2">
      <h3 class="font-bold">Steps</h3>
      <div class="info">
        @for (step of recipe().steps; track step; let i = $index) {
          <div class="step">{{ step.stepNumber }}</div>
          <div class="text">{{ step.description }}</div>
        }
      </div>
    </div>
    <div class="nutritions">
      <h3 class="mb-3 text-xl font-bold">Nutrition</h3>
      @for (nutrition of nutritions; track nutrition) {
        @if (recipe().nutritions[nutrition]; as nutritionInner) {
          <div class="flex gap-1">
            <div class="grow">{{ nutrition }}</div>
            <div>{{ nutritionInner.value }}</div>
            <div>{{ nutritionInner.unit }}</div>
          </div>
        }
      }
    </div>
  </div>
</ion-content>
