<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="liked" (click)="setActiveTab('bookmark')">
      <ion-icon [name]="getIcon('bookmark')"></ion-icon>
      <ion-label>Liked</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recipes" (click)="setActiveTab('search')">
      <ion-icon [name]="getIcon('search')"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account" (click)="setActiveTab('person')">
      <ion-icon [name]="getIcon('person')"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>