<div class="mb-4 w-64">
  <app-form-input
    placeholder="Search"
    [iconSuffix]="faMagnifyingGlass"
    [(ngModel)]="search"
  />
</div>

<div class="mb-1 flex justify-end">
  <app-button size="small" (click)="openCreateIngredientDialog()"
    >Add ingredients</app-button
  >
</div>
<div class="table-container">
  <table class="table w-full">
    <thead>
      <tr>
        <th class="w-full">Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (ingredient of ingredients(); track ingredient.id) {
        <tr>
          <td>{{ ingredient.name }}</td>
          <td>
            <div class="flex gap-1">
              <app-button
                type="icon"
                size="small"
                (click)="openUpdateIngredientDialog(ingredient.id)"
                ><fa-icon [icon]="faPencil"
              /></app-button>
              <app-button
                type="icon"
                size="small"
                color="danger"
                (click)="delete(ingredient.id)"
                ><fa-icon [icon]="faTrash"
              /></app-button>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
<div class="mt-1">
  <app-pagination
    [currentPage]="page()"
    [perPage]="perPage()"
    [totalPages]="totalPages()"
    (pageChange)="pageChange($event)"
  />
</div>
