<div
  class="background flex min-h-screen items-center justify-center bg-gray-50 dark:bg-dark-900 dark:text-white"
>
  <div class="w-500 p-5">
    <h1 class="mb-3 text-center text-4xl">Food swipe</h1>

    <h2 class="mb-10 text-center text-2xl">Forgot your password?</h2>

    <div class="rounded-xl bg-dark-900 p-10 shadow dark:bg-opacity-90">
      <form [formGroup]="form" (ngSubmit)="resetPassword()">
        <div class="mb-4">
          <app-form-input
            formControlName="password"
            type="password"
            placeholder="Password"
          >
            Password
          </app-form-input>
        </div>

        <div class="mb-4">
          <app-form-input
            formControlName="passwordConfirm"
            type="password"
            placeholder="Password confirmation"
          >
            Password confirmation
          </app-form-input>
        </div>

        <app-button size="full" [disabled]="form.invalid">
          Reset password
        </app-button>
      </form>
    </div>
  </div>
</div>
