<div>
  <div>Most time consuming</div>
  <div>Most calls</div>
  <div>Most rows</div>
</div>
<div class="table-container">
  <table class="table w-full">
    <thead>
      <tr>
        <th class="w-3/4">Query</th>
        <th class="w-10 whitespace-nowrap">User</th>
        <th class="w-1">Calls</th>
        <th class="whitespace-nowra w-10">Total Time</th>
        <th class="w-10">Rows</th>
      </tr>
    </thead>
    <tbody>
      @for (log of logs.value(); track log.queryid) {
        <tr>
          <td class="max-w-1 overflow-hidden whitespace-nowrap border-r">
            {{ log.query }}
          </td>
          <td class="border-r">{{ log.user }}</td>
          <td class="border-r text-right">{{ log.calls }}</td>
          <td class="border-r text-right text-sm">
            <p>{{ log.totalExecTime | number: "1.0-0" }}ms</p>
            <p class="text-gray-400">
              {{ log.totalExecTime / 1000 | number: "1.0-2" }}s
            </p>
          </td>
          <td>{{ log.rows }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
